@charset "UTF-8";

/* Folha de estilo CSS de SAO_LUCAS_DOIS_CURSOS.fet
   Folha de estilos gerada por FET 5.37.5 em 08/05/2019 09:14 */

/* Para que as páginas sejam separadas a cada duas tabelas, delete "page-break-before: always;" em "table.even_table". */
/* Excluir "page-break-before: always;" em "table.even_table" e em "table.odd_table" para pular as quebras de página. */
/* Para ocultar um elemento, basta escrever a seguinte expressão no elemento: "display:none;" (sem aspas). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left:auto; margin-right:auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Usamos "tr.foot" pois alguns programas importam "tfoot" incorretamente. */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

td.c_1 { /* Activity id: 1 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(211, 8, 162);
 color: white;
}

td.c_2 { /* Activity id: 3 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(166, 243, 4);
 color: black;
}

td.c_3 { /* Activity id: 5 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(211, 141, 247);
 color: black;
}

td.c_4 { /* Activity id: 7 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(194, 80, 154);
 color: white;
}

td.c_5 { /* Activity id: 8 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(130, 215, 137);
 color: black;
}

td.c_6 { /* Activity id: 10 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(84, 24, 16);
 color: white;
}

td.c_7 { /* Activity id: 19 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(201, 117, 43);
 color: black;
}

td.c_8 { /* Activity id: 20 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(19, 34, 253);
 color: white;
}

td.c_9 { /* Activity id: 21 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(2, 93, 55);
 color: white;
}

td.c_10 { /* Activity id: 23 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(115, 243, 55);
 color: black;
}

td.c_11 { /* Activity id: 31 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(201, 23, 76);
 color: white;
}

td.c_12 { /* Activity id: 33 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(138, 200, 0);
 color: black;
}

td.c_13 { /* Activity id: 34 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(245, 172, 228);
 color: black;
}

td.c_14 { /* Activity id: 35 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(171, 5, 140);
 color: white;
}

td.c_15 { /* Activity id: 36 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(77, 22, 89);
 color: white;
}

td.c_16 { /* Activity id: 37 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(234, 194, 250);
 color: black;
}

td.c_17 { /* Activity id: 39 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(101, 134, 211);
 color: black;
}

td.c_18 { /* Activity id: 40 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(127, 68, 34);
 color: white;
}

td.c_19 { /* Activity id: 42 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(58, 62, 225);
 color: white;
}

td.c_20 { /* Activity id: 44 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(222, 215, 91);
 color: black;
}

td.c_21 { /* Activity id: 46 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(217, 60, 41);
 color: white;
}

td.c_22 { /* Activity id: 48 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(40, 90, 50);
 color: white;
}

td.c_23 { /* Activity id: 49 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(122, 136, 26);
 color: white;
}

td.c_24 { /* Activity id: 59 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(18, 68, 128);
 color: white;
}

td.c_25 { /* Activity id: 61 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(31, 83, 31);
 color: white;
}

td.c_26 { /* Activity id: 62 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(65, 225, 103);
 color: black;
}

td.c_27 { /* Activity id: 64 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(129, 245, 78);
 color: black;
}

td.c_28 { /* Activity id: 65 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(65, 94, 156);
 color: white;
}

td.c_29 { /* Activity id: 66 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(76, 45, 48);
 color: white;
}

td.c_30 { /* Activity id: 67 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(201, 121, 54);
 color: black;
}

td.c_31 { /* Activity id: 68 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(171, 165, 17);
 color: black;
}

td.c_32 { /* Activity id: 69 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(31, 109, 62);
 color: white;
}

td.c_33 { /* Activity id: 71 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(202, 77, 235);
 color: black;
}

td.c_34 { /* Activity id: 73 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(149, 5, 39);
 color: white;
}

td.c_35 { /* Activity id: 74 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(76, 57, 198);
 color: white;
}

td.c_36 { /* Activity id: 75 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(166, 106, 185);
 color: black;
}

td.c_37 { /* Activity id: 78 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(142, 216, 67);
 color: black;
}

td.c_38 { /* Activity id: 79 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(50, 158, 206);
 color: black;
}

td.c_39 { /* Activity id: 81 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(66, 87, 104);
 color: white;
}

td.c_40 { /* Activity id: 83 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(109, 166, 31);
 color: black;
}

td.c_41 { /* Activity id: 84 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(101, 116, 46);
 color: white;
}

td.c_42 { /* Activity id: 86 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(192, 93, 30);
 color: white;
}

td.c_43 { /* Activity id: 87 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(142, 218, 150);
 color: black;
}

td.c_44 { /* Activity id: 88 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(26, 184, 16);
 color: white;
}

td.c_45 { /* Activity id: 89 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(156, 196, 142);
 color: black;
}

td.c_46 { /* Activity id: 90 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(149, 156, 47);
 color: black;
}

td.c_47 { /* Activity id: 91 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(173, 182, 134);
 color: black;
}

td.c_48 { /* Activity id: 93 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(173, 11, 14);
 color: white;
}

td.c_49 { /* Activity id: 95 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(186, 53, 252);
 color: white;
}

td.c_50 { /* Activity id: 96 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(153, 38, 210);
 color: white;
}

td.c_51 { /* Activity id: 97 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(163, 228, 186);
 color: black;
}

td.c_52 { /* Activity id: 102 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(233, 28, 77);
 color: white;
}

td.c_53 { /* Activity id: 104 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(173, 238, 118);
 color: black;
}

td.c_54 { /* Activity id: 105 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(253, 77, 100);
 color: black;
}

td.c_55 { /* Activity id: 107 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(174, 69, 86);
 color: white;
}

td.c_56 { /* Activity id: 108 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(233, 219, 171);
 color: black;
}

td.c_57 { /* Activity id: 111 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(83, 199, 214);
 color: black;
}

td.c_58 { /* Activity id: 112 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(142, 66, 253);
 color: white;
}

td.c_59 { /* Activity id: 113 (subject) */
 padding-top: 2rem; position:relative; background-color: rgb(129, 36, 107);
 color: white;
}

td.c_60 { /* Activity id: 1 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(226, 6, 33);
 color: white;
}

td.c_61 { /* Activity id: 3 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(208, 34, 55);
 color: white;
}

td.c_62 { /* Activity id: 5 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(211, 123, 66);
 color: black;
}

td.c_63 { /* Activity id: 7 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(30, 192, 105);
 color: black;
}

td.c_64 { /* Activity id: 8 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(235, 25, 97);
 color: white;
}

td.c_65 { /* Activity id: 10 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(216, 198, 52);
 color: black;
}

td.c_66 { /* Activity id: 11 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(184, 29, 215);
 color: white;
}

td.c_67 { /* Activity id: 13 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(68, 219, 159);
 color: black;
}

td.c_68 { /* Activity id: 14 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(137, 96, 180);
 color: white;
}

td.c_69 { /* Activity id: 16 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(138, 57, 193);
 color: white;
}

td.c_70 { /* Activity id: 18 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(130, 221, 194);
 color: black;
}

td.c_71 { /* Activity id: 19 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(203, 80, 19);
 color: white;
}

td.c_72 { /* Activity id: 20 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(152, 124, 73);
 color: white;
}

td.c_73 { /* Activity id: 21 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(58, 183, 51);
 color: black;
}

td.c_74 { /* Activity id: 23 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(187, 48, 223);
 color: white;
}

td.c_75 { /* Activity id: 31 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(190, 248, 211);
 color: black;
}

td.c_76 { /* Activity id: 33 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(48, 100, 34);
 color: white;
}

td.c_77 { /* Activity id: 34 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(120, 13, 12);
 color: white;
}

td.c_78 { /* Activity id: 35 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(132, 214, 68);
 color: black;
}

td.c_79 { /* Activity id: 36 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(208, 95, 186);
 color: black;
}

td.c_80 { /* Activity id: 37 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(130, 243, 176);
 color: black;
}

td.c_81 { /* Activity id: 39 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(0, 11, 231);
 color: white;
}

td.c_82 { /* Activity id: 40 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(30, 7, 53);
 color: white;
}

td.c_83 { /* Activity id: 42 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(181, 59, 79);
 color: white;
}

td.c_84 { /* Activity id: 44 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(196, 151, 146);
 color: black;
}

td.c_85 { /* Activity id: 46 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(99, 183, 246);
 color: black;
}

td.c_86 { /* Activity id: 48 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(70, 59, 140);
 color: white;
}

td.c_87 { /* Activity id: 49 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(23, 16, 236);
 color: white;
}

td.c_88 { /* Activity id: 51 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(68, 28, 195);
 color: white;
}

td.c_89 { /* Activity id: 53 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(239, 32, 185);
 color: white;
}

td.c_90 { /* Activity id: 54 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(158, 140, 100);
 color: black;
}

td.c_91 { /* Activity id: 56 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(57, 172, 0);
 color: white;
}

td.c_92 { /* Activity id: 58 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(28, 32, 122);
 color: white;
}

td.c_93 { /* Activity id: 59 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(109, 77, 66);
 color: white;
}

td.c_94 { /* Activity id: 61 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(6, 104, 145);
 color: white;
}

td.c_95 { /* Activity id: 62 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(187, 242, 102);
 color: black;
}

td.c_96 { /* Activity id: 64 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(151, 41, 246);
 color: white;
}

td.c_97 { /* Activity id: 65 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(71, 7, 201);
 color: white;
}

td.c_98 { /* Activity id: 66 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(247, 134, 38);
 color: black;
}

td.c_99 { /* Activity id: 67 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(105, 187, 173);
 color: black;
}

td.c_100 { /* Activity id: 68 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(191, 175, 108);
 color: black;
}

td.c_101 { /* Activity id: 69 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(131, 8, 219);
 color: white;
}

td.c_102 { /* Activity id: 71 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(164, 94, 242);
 color: black;
}

td.c_103 { /* Activity id: 73 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(198, 175, 4);
 color: black;
}

td.c_104 { /* Activity id: 74 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(60, 4, 1);
 color: white;
}

td.c_105 { /* Activity id: 75 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(112, 42, 166);
 color: white;
}

td.c_106 { /* Activity id: 78 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(36, 25, 160);
 color: white;
}

td.c_107 { /* Activity id: 79 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(167, 192, 116);
 color: black;
}

td.c_108 { /* Activity id: 81 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(203, 167, 147);
 color: black;
}

td.c_109 { /* Activity id: 83 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(1, 220, 66);
 color: black;
}

td.c_110 { /* Activity id: 84 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(61, 88, 130);
 color: white;
}

td.c_111 { /* Activity id: 86 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(219, 174, 113);
 color: black;
}

td.c_112 { /* Activity id: 87 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(216, 76, 30);
 color: white;
}

td.c_113 { /* Activity id: 88 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(221, 207, 39);
 color: black;
}

td.c_114 { /* Activity id: 89 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(98, 17, 198);
 color: white;
}

td.c_115 { /* Activity id: 90 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(113, 141, 117);
 color: black;
}

td.c_116 { /* Activity id: 91 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(222, 22, 113);
 color: white;
}

td.c_117 { /* Activity id: 93 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(228, 24, 220);
 color: white;
}

td.c_118 { /* Activity id: 95 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(110, 140, 88);
 color: white;
}

td.c_119 { /* Activity id: 96 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(43, 139, 221);
 color: white;
}

td.c_120 { /* Activity id: 97 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(158, 60, 223);
 color: white;
}

td.c_121 { /* Activity id: 102 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(173, 71, 172);
 color: white;
}

td.c_122 { /* Activity id: 104 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(243, 199, 209);
 color: black;
}

td.c_123 { /* Activity id: 105 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(141, 209, 28);
 color: black;
}

td.c_124 { /* Activity id: 107 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(67, 58, 139);
 color: white;
}

td.c_125 { /* Activity id: 108 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(85, 210, 206);
 color: black;
}

td.c_126 { /* Activity id: 111 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(93, 238, 235);
 color: black;
}

td.c_127 { /* Activity id: 112 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(182, 129, 109);
 color: black;
}

td.c_128 { /* Activity id: 113 (subject+students) */
 padding-top: 2rem; position:relative; background-color: rgb(206, 56, 53);
 color: white;
}

span.subject {

}

span.activitytag {
 position:absolute; top:.3rem; left:50%; transform:translateX(-50%); 
}

span.empty {
  color: gray;
}

td.empty {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

span.notAvailable {
  color: gray;
}

td.notAvailable {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

span.break {
  color: gray;
}

td.break {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

tr.studentsset, div.studentsset {

}

tr.teacher, div.teacher {

}

tr.room, div.room {

}

tr.line0, div.line0 {
  font-size: smaller;
}

tr.line1, div.line1 {
 margin-bottom:1rem; 
}

tr.line2, div.line2 {
  font-size: smaller;
}

tr.line3, div.line3 {
  font-size: smaller;
}

/* Completar as horas livres dos professores */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

div.TEACHER_HAS_SINGLE_GAP {
  color: black;
}

div.TEACHER_HAS_BORDER_GAP {
  color: gray;
}

div.TEACHER_HAS_BIG_GAP {
  color: silver;
}

div.TEACHER_MUST_COME_EARLIER {
  color: purple;
}

div.TEACHER_MUST_COME_MUCH_EARLIER {
  font-size: smaller;
  color: fuchsia;
}

div.TEACHER_MUST_STAY_LONGER {
  color: teal;
}

div.TEACHER_MUST_STAY_MUCH_LONGER {
  font-size: smaller;
  color: aqua;
}

div.TEACHER_HAS_A_FREE_DAY {
  font-size: smaller;
  color: red;
}

div.TEACHER_IS_NOT_AVAILABLE {
  font-size: smaller;
  color: olive;
}

/* Final do arquivo. */
